* {
  font-family: sans-serif;
  padding: 0%;
  margin: 0%;
}

body {
  color: #444;
}

.main-header {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  background: rgb(227, 228, 231);
  background: linear-gradient(
    90deg,
    rgba(227, 228, 231, 0.9948354341736695) 0%,
    rgba(247, 244, 241, 1) 52%,
    rgba(148, 151, 153, 1) 100%
  );
  padding: 40px 60px;
  border-top: 5px solid #1098ad;
  font-weight: 300;
}

.navigation {
  background-color: #444;
  overflow: hidden;
  margin-bottom: 20px;
  font-weight: 250;
  text-transform: uppercase;
}

.navigation a {
  float: left;
  color: #f7f7f7;
  text-align: center;
  padding: 22px 18px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: orangered;
}

.navigation a:active {
  background-color: lightgray;
}

.container {
  margin-top: 20px;
  margin: auto;
  width: 40%;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #1098ad;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: orangered;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.footer {
  padding: 50px;
}
.contact-icon {
  float: left;
}
